{% extends "base.html" %}

{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}

{% block content %}
    <div id='content'>
        <h2> DATA ENTRY </h2>
        <p>Welcome to the Regional Indicators Initiative Data Entry Tool. Please follow the following instructions:</p>
        <ul>
          <li> Read the data requirements for each form </li>
          <li> Collect the corresponding data </li>
          <li> Please enter the values in the units specified in each form </li>
          <li> Don't panic if you make a mistake. Everything has a solution. </li>
        </ul>

      <a type="button" role='button' href='/new_city2/' class="btn btn-primary btn-lg active">CONTINUE</a>
    </div>

{% endblock %}
