{% extends "database_manager/header.html" %}


{% block content %}


<div class="jumbotron" align=center>
  <h1>Regional Indicators Initiative Database</h1>
  <p>Please select an option: </p>
  <p><a class="btn btn-primary btn-lg" href='/new_city/' role="button">Insert New City</a></p>
  <p><a class="btn btn-primary btn-lg" href='/contact/' role="button">Edit City</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Insert Utility</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Edit Utility</a></p>
  <p><a class="btn btn-primary btn-lg" href='/view_data/' role="button">VIEW DATA</a></p>
</div>


{% endblock %}

