{% extends 'base.html' %}

{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}

{% block content %}

<div class="panel panel-default" style="max-width:1000px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">
    <h1 class="panel-title">RII Insert Data</h1>
  </div>
  <div class="panel-body">
<br> 


<div class="accordion">
  <h2> Insert Water Input: </h2>
    <div class="accordion_sect">
    <p><form method='post' action='' alig>{% csrf_token %}
    <ul>
    {{wform.as_ul}}
    </ul>
    <input class="btn btn-default" type="submit" value="Submit" />
    </form>
    </p>
  </div>
 
  <h2> Insert New Energy Utility: </h2>
  <div class="accordion_sect">
  <p><form method='post' action='' alig>{% csrf_token %}
  <ul>
  {{utilitiesform.as_ul}}
  </ul>
  <input class="btn btn-default" type="submit" value="Submit" />
  </form></p>
  </div>
  
  <h2> Insert New Energy Electricity Input: </h2>
  <div>
  <p><form method='post' action='' alig>{% csrf_token %}
  <ul>
  {{electricityform.as_ul}}
  </ul>
  <input class="btn btn-default" type="submit" value="Submit" />
  </form></p>
  </div>

  <h2> Insert New Natural Gas Input: </h2>
  <div>
  <p><form method='post' action='' alig>{% csrf_token %}
  <ul>
  {{natgasform.as_ul}}
  </ul>
  <input class="btn btn-default" type="submit" value="Submit" />
  </form></p>
  </div>


  <h2> Insert New Waste Processing Facility: </h2>
  <div>
  <p><form method='post' action='' alig>{% csrf_token %}
  <ul>
  {{wastefacility.as_ul}}
  </ul>
  <input class="btn btn-default" type="submit" value="Submit" />
  </form></p>
  </div>

  
  <h2> Insert New Solid Waste Input: </h2>
  <div>  
  <p><form method='post' action='' alig>{% csrf_token %}
  <ul>
  {{solidwasteform.as_ul}}
  </ul>
  <input class="btn btn-default" type="submit" value="Submit" />
  </form></p>
  </div>

</div>

{% endblock %}
