{% extends 'base.html' %}

{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}

{% block content %}

      <div id='content'>


<div class="accordion">

<h2> Insert Water Input: </h2>
<div class="accordion_sect">
<p> To complete this form you are going to need:
<ul>
  <li> Residential Water Consumption of your city </li>
  <li> Commerical and Industrial Water Consumptio of your city </li>
</ul>
</p>
<form action="/waterform/">
    <input type="submit" value="Go to Form" />
</form>
</div>


<h2> Insert New Energy Electricity Input: </h2>
<div>
<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{electricityform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>
</div>

<h2> Insert New Natural Gas Input: </h2>
<div>
<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{natgasform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>
</div>

<h2> Insert New Solid Waste Input: </h2>
<div>
<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{solidwasteform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>
</div>

<h2> Insert New Wastewater Input: </h2>
<div>
<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{wastewaterform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>
</div>

<h2> Insert New Other Fuel Input: </h2>
<div>
<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{otherenergyform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>
</div>

      </div>


{% endblock %}
