{% extends 'base.html' %}
{% load url from future %}
{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}
{% block content %}

      <div id='content'>

<h1>ELECTRICITY</h1>

<form action="/electricinput/add/">
    <input type="submit" value="NEW" />
</form>

  <table style="width:100%">
    <tr>
      <th>CITY</th>
      <th>YEAR</th>
    </tr>
    {% for CityMetricsElectricInput in object_list %}
    <tr>
      <td>{{ CityMetricsElectricInput.city_id }}</td>
      <td><a href="{% url 'databaseML2:electric_input-detail' CityMetricsElectricInput.id %}">{{ CityMetricsElectricInput.year }}</a></td>
    </tr>
    {% endfor %}
  </table>

      </div>


{% endblock %}
