{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block title %}Database | LHB{% endblock %}


{% block extrastyle %}

    {{ block.super }}

{% endblock %}


{% block extrahead %}

    {{ form.media }}

    <style type='text/css'>
        .breadcrumb.margin {
            margin-bottom: 40px;
        }
        #content-main h2 {
            margin: 0;
        }
        #content-main h3 {
            padding: 0;
        }
        #content-main ul.instructions {
            margin: 0 0 20px 15px;
        }
        #form-wrapper {
            float: left;
            width: 100%;
            margin-top: 30px;
            padding-top: 10px;
            border-top: 1px solid #555555;
        }
        #errorMessage {
            float: left;
            width: 100%;
            color: #FF0000;
            margin-bottom: 20px;
        }
        #content-main form,
        #content-main .module {
            margin: 0;
        }
        #content-main input[type='file'] {
            font-size: 14px;
            line-height: 16px;
        }
    </style>

{% endblock %}


{% block breadcrumbs %}

    <ul class='breadcrumb margin'>
        <li>Regional Indicators Database</li>
    </ul>

{% endblock %}


{% block content %}
    <div id='content-main'>
        <h1>Regional Indicator Database</h1>
        <p>This site allows to input the necessary data for the Regional Indicators Inititiative website. For most of the inputs an entry needs to exist for every city and year. For example Minneapolis, 2012. This database allows to see all the existing records and a add new ones. The following is an explanation of each input:</p>
        <hr />
        <h2>&nbsp;BASIC</h2>
        <p>There are basic inputs that are required for most of the indicators to work properly. Please double check that these are filled for the city you wish to alter.</p>
        <ul>
        <li><a href="/admin/city_metrics/city/"><strong>Cities:</strong></a> It contains the pre-populated list of cities in Minnesota with their respective classification. A sort number must be given to a city for it to appear in the RII website.&nbsp;
        <ul>
        <li><strong>Classification:</strong> Cities are classified according to their type.</li>
        </ul>
        </li>
        <li><a href="/admin/city_metrics/demographicdata/"><strong>Demographic Data (Cities): </strong></a>The demographic data of cities is population and jobs.&nbsp;</li>
        <li><strong>Demographic Data (Counties):</strong> The demographic data of counties. These are required for some indicators to work.&nbsp;</li>
        </ul>
        <hr />
        <h2><span style="color: #ff9900;">&nbsp;ENERGY</span></h2>
        <p><span style="color: #000000;">The following are the inputs required for the energy indicators.&nbsp;</span></p>
        <ul>
        <li><strong><a href="/admin/city_metrics/citymetricselectricinput/">Electric Input:</a>&nbsp;</strong>It<strong>&nbsp;</strong>contains the amount of electricity in <em><strong>kwh</strong> </em>used by every city that has completed the program. It allows to specify the utility from which the electiricity is coming from and also whether there is wind electricity.</li>
        <li><a href="/admin/city_metrics/citymetricsnatgasinput/"><strong>Natural Gas Input:</strong></a> It contains the amount of natural gas in <em><strong>therms</strong></em> used by every city that has completed the program. It allows to specify the utility from which the natural gas is coming.&nbsp;</li>
        <li><a href="/admin/city_metrics/citymetricscddhdd/"><strong>CDD &amp; HDD:</strong></a> The Cooling Degree Days and Heating Degree Days are necessary to estimate the weather normalized numbers for energy.&nbsp;</li>
        <li><a href="/admin/city_metrics/citymetricsotherenergyinput/"><strong>Other Fuels Input:</strong></a> This form allows to input the amount of other fuels. Other fuels are for example wood or coal used for direct heat generation.&nbsp;</li>
        <li><strong><a href="/admin/city_metrics/citymetricsenergyutilities/">Energy Utilities:</a>&nbsp;</strong>List of electric utilities. It allows to specify what type utility it is.&nbsp;</li>
        <li><strong><a href="/admin/city_metrics/citymetricsutilitiesemissionfactors/">Energy Utilities Emission Factors:</a></strong>&nbsp;Every energy utility has a corresponding emission factor. The emission factors allow to estimate the CO2 contribution of energy per unit.</li>
        </ul>
        <hr />
        <h2><span style="color: #00ccff;">&nbsp;WATER</span></h2>
        <p><span style="color: #000000;">The following is the only input required for the water indicator.</span></p>
        <ul>
        <li><strong><a href="/admin/city_metrics/citymetricswaterinput/">Water Input:</a>&nbsp;</strong>This form allows to input the amount of water in <em><strong>thousand gallons</strong></em> consumed at each city per year. This is the only input required for the water indicator to display.</li>
        </ul>
        <hr />
        <h2><span style="color: #99cc00;">&nbsp;TRAVEL</span></h2>
        <ul>
        <li>&nbsp;<strong>VMT:</strong> This contains the list of vehicles miles traveled per city per year. The list has been prepopulated, hence it is ideal not to alter the data. Use it more as a reference.&nbsp;</li>
        </ul>
        <hr />
        <h2><span style="color: #800080;">&nbsp;WASTE</span></h2>
        <ul>
        <li><span style="color: #000000;"><strong><a href="/admin/city_metrics/citymetricssolidwasteinput/">Solid Waste Input:</a></strong>&nbsp;Contains the amout of solid waste for each county in Minnesota. From the county data the city data can be calculated. Enter the county data to estimate the solid wastte of the city.</span></li>
        <li><strong><span style="color: #000000;"><a href="/admin/city_metrics/citymetricswasteprocessingfacility/">Solid Waste Facilities:</a>&nbsp;</span></strong><span style="color: #000000;">The list of waste processing facilities.</span></li>
        <li><span style="color: #000000;"><strong>Solid Waste Facilities Emission Factors:</strong> When waste is taken to wste processing facilities it goes through certain process that release carbon dioxide. Depending on different variables including technology this emission factor might be different for each facility,, hence it needs to be specified.&nbsp;</span></li>
        </ul>
        <hr />
        <h2><span style="color: #808000;">&nbsp;COST</span></h2>
        <p><span style="color: #000000;">The cost factors allow to estimate the cost in USD per unit of energy, water, solid waste or travel.</span></p>
        <ul>
        <li><strong><a href="/admin/city_metrics/citymetricscostfactors/">Cost Factors:</a></strong>&nbsp;This form allows to input the cost per unit for each of the indicators.</li>
        </ul>
        <hr />
        <h2>&nbsp;<span style="color: #999999;">OTHER</span></h2>
        <p><span style="color: #000000;">There is other data that has to be inputed to have an accurate accounting of the greenhouse gas emission of a city. Some of this data is embeded in the database and does not need to be updated constantly, for example conversion factors.&nbsp;</span></p>
        <ul>
        <li><span style="color: #000000;"><strong><a href="/admin/city_metrics/citymetricswastewaterinput/">Wastewater Input:</a>&nbsp;</strong>This allows to specify the amount of wastewater treated by city.&nbsp;</span></li>
        <li><strong><span style="color: #000000;"><a href="/admin/city_metrics/citymetricswastewaterfacility/">Wastewater facilities:</a>&nbsp;</span></strong><span style="color: #000000;">The list of wastewater facilities.&nbsp;</span></li>
        <li><strong><span style="color: #000000;"><a href="/admin/city_metrics/citymetricscitywastewaterfacilityemissions/">Wastewater facilities (emission factors):</a>&nbsp;</span></strong><span style="color: #000000;">Each wastewater facility has a different emission factors which needs to be specified each year.&nbsp;</span></li>    
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>

{% endblock %}



