{% extends "base.html" %}

{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}

{% block content %}
    <div id='content'>

<h2> Insert New Energy Electricity Input: </h2>

<p><form method='post' action='' alig>{% csrf_token %}
<ul>
{{electricityform.as_ul}}
</ul>
<input class="btn btn-default" type="submit" value="Submit" />
</form></p>

<form action="/new_city2/">
    <input type="submit" value="RETURN" />
</form>
    </div>

{% endblock %}
