<h1>Regional Indicator Database</h1>
<p>This site allows to input the necessary data for the Regional Indicators Inititiative website. The following is an explanation of each input:</p>
<ul>
<li><strong>CDD &amp; HDD:</strong> The Cooling Degree Days and Heating Degree Days are necessary to estimate the weather normalized numbers for energy.&nbsp;</li>
<li><strong>Cities:</strong> It contains the pre-populated list of cities in Minnesota with their respective classification.&nbsp;</li>
<li><strong>Electric Input:</strong> It contains the amount of electricity in kwh used by every city that has completed the program. It allows to specify the utility from which the electiricity is coming from and also whether there is wind electricity.</li>
<li><strong>Natural Gas Input:</strong> It contains the amount of natural gas in thems used by every city that has completed the program. It allows to specify the utility from which the natural gas is coming.&nbsp;</li>
<li><strong>VMT:</strong> This contains the list of vehicles miles traveled per city per year. The list has been prepopulated, hence it is ideal not to alter the data.&nbsp;</li>
<li></li>
</ul>
