{% extends 'charts/chart_base.html' %}


{% block extraHead %}

    {{ block.super }}

    <script type='text/javascript' src='/static/js/emissions_chart/emissions_chart.js'></script>

    <script type="text/javascript">

        $(document).ready(function() {

            var allCities = $('#allCities');
            var centralBox = $('.centralBox');
            var centralCities = $('#centralCities');

            $('#totalEmissions').attr('checked', true);
            allCities.attr('checked', true);

            {% if start_year %}
                var startYear = '#' + {{ start_year }};
                $(startYear).attr('checked', true);
            {% endif %}

            $('#noNormalize').attr('checked', true);

            var chartTitle = 'Total GHG Emissions';
            $('#chartTitle').html(chartTitle);

            setTimeout("findAllSelectedBoxes('emissions')", 50);

            $('.city').click(function(){

                if (this.checked == false) {

                    allCities.attr('checked', false);

                }

            });

            $(centralBox).click(function(){

                if (this.checked == false) {

                    centralCities.attr('checked', false);

                }

            });

            $('.innerBox').click(function(){

                if (this.checked == false) {

                    $('#innerSuburbs').attr('checked', false);

                }

            });

            $('.outerBox').click(function(){

                if (this.checked == false) {

                    $('#outerSuburbs').attr('checked', false);

                }

            });

        });

        google.load("visualization", "1", {packages:["corechart"]});

    </script>

{% endblock %}


{% block chartIndicators %}

    <form>

        <input type='hidden' name='chartType' value='emissions'>

        <ul id='chartIndicators'>

            <li>
                <input id='totalEmissions' type='radio' name='indicator' value='ind_Total GHG Emissions' onclick="setChartTitle(this)">
                <label for='totalEmissions'>TOTAL GHG EMISSIONS</label>
            </li>

            <li>
                <input id='energy_associated_emissions' type='radio' name='indicator' value='ind_Energy-Associated GHG Emissions' onclick="setChartTitle(this)">
                <label for='energy_associated_emissions'>ENERGY-ASSOCIATED GHG EMISSIONS</label>
            </li>

            <li>
                <input id='travel_associated_emissions' type='radio' name='indicator' value='ind_Travel-Associated GHG Emissions' onclick="setChartTitle(this)">
                <label for='travel_associated_emissions'>TRAVEL-ASSOCIATED GHG EMISSIONS</label>
            </li>

            <li>
                <input id='waste_associated_emissions' type='radio' name='indicator' value='ind_Waste-Associated GHG Emissions' onclick="setChartTitle(this)">
                <label for='waste_associated_emissions'>WASTE-ASSOCIATED GHG EMISSIONS</label>
            </li>

            <li>
                <input id='water_associated_emissions' type='radio' name='indicator' value='ind_Other GHG Emissions' onclick="setChartTitle(this)">
                <label for='water_associated_emissions'>OTHER GHG EMISSIONS</label>
            </li>

        </ul>

    </form>

{% endblock %}