{% extends 'base.html' %}

{% block title %}Solid Waste{% endblock %}

{% block extraHead %}

    <link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"/>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $(document).ready(function () {
            $(".accordion").accordion({collapsible: true, heightStyle: "content", active: false});
        });
    </script>

{% endblock %}
{% block content %}

      <div id='content'>

  <form method="post">
    {% csrf_token %}
    {% include 'form-template.html' %}
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

      </div>


{% endblock %}
